nav {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;

    .logo {
        font-size: 0.8rem;
    }

    .hamburger-icon {
        cursor: pointer;
    }

    ul {
        display: none;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1024px) {
    nav {
        padding: 2rem;

        .logo {
            font-size: 1.2rem;
        }

        .hamburger-icon {
            font-size: 1.4rem;
        }
    }

}

@media only screen and (min-width: 1025px) {
    nav {
        padding: 0 2rem;
        justify-content: space-between;

        .logo {
            font-size: 1.4rem;
            display: flex;
            align-items: center;
        }

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding: 1rem;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                color: #686868;
            }
        }

        .dropdown-btn {
            display: none;
        }
    }
}