.pitch-container {
    padding: 2rem;
    background-color: $whiteBackground;
    position: absolute;
    height: 30vh;
    width: 60vw;
    top: 65%;
    left: 5%;
}

.top-pitch-container {
    display: flex;
    gap: 3rem;

    h2 {
        font-size: 1.2rem;
        font-weight: 800;
    }

    p {
        font-size: 0.8rem;
        font-weight: 100;
        margin: auto;
    }
}