.whyus-container {
    padding: 1rem 0 2rem; 
    position: relative;
    text-align: center;
    margin: 15rem 0;
    background-image: linear-gradient(rgb(82, 76, 150),  rgb(68, 54, 212), rgb(66, 69, 121));
}

.row {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}

.reasons {
    background-color: #fff;
    width: 50vw;
    height: 20vh;
    padding: 1rem;
    margin: auto;
}

.why-icon {
    color: #000;
    font-size: 2rem;
    padding: 1rem;
}