.whyus-container {
    position: relative;
    text-align: center;
    margin: 15rem 0;
    background-image: linear-gradient(rgb(159, 196, 217), rgb(72, 79, 181));
}

.row1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.why-icon {
    color: #fff;
}