nav {
    padding: 20px;
    display: flex;
    justify-content:space-between ;
}

.logo {
    display: flex;
    align-items: center;
}

li {
    display: inline;
    padding: 20px;
    cursor: pointer;
}